$banks-block-border-color: 1px solid rgba(56, 152, 254, .187528);
$banks-block-header-color: rgba(56, 152, 254, .5);

.banks {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 1098px;
	min-height: 556px;
	margin: 0 auto;
	margin-top: 140px;
	
	@media screen and (max-width: $big) {
		width: 536px;
		min-height: 996px;
		margin-top: 110px;
	}

	@media screen and (max-width: $medium) {
		width: 278px;
		min-height: 681px;
		margin-top: 141px;
	}

	h2 {
		@extend %h0-text-style;
		color: $text-color;

		@media screen and (max-width: $big) {
			text-align: center;
		}

		@media screen and (max-width: $medium) {
			font-size: 32px;
			line-height: 38px;
		}
	}

	.banks__blocks {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		min-height: 420px;

		@media screen and (max-width: $big) {
			flex-direction: column;
			min-height: 880px;
		}

		@media screen and (max-width: $medium) {
			min-height: 585px;
		}
	}

	.left-block,
	.right-block {
		width: 534px;
		min-height: 420px;
		border: $banks-block-border-color;

		@media screen and (max-width: $medium) {
			width: 278px;
		}

		h3 {
			padding-top: 20px;
			padding-left: 41px;

			@extend %text-info-text-style;
			color: $banks-block-header-color;

			@media screen and (max-width: $medium) {
				padding-left: 16px;
			}
		}
	}

	.left-block {
		.left-block__banks {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-column-gap: 42.85px;
			align-items: start;
			
			padding-left: 45px;
			padding-right: 45px;

			@media screen and (max-width: $medium) {
				grid-column-gap: 25px;
				padding-left: 16px;
				padding-right: 16px;
			}

			img {
				@media screen and (max-width: $medium) {
					max-width: 100%;
				}
			}
		}

		hr {
			width: 454px;
			height: 1px;
			margin: 0 auto;
			margin-top: 36.79px;
			background: $gradient;
			opacity: .2;

			@media screen and (max-width: $medium) {
				width: 247px;
				margin-top: 0;
			}
		}

		.upload1c {
			display: flex;
			align-items: center;
			width: 218px;
			height: 55px;
			margin-top: 29.21px;
			margin-left: 40px;

			@media screen and (max-width: $medium) {
				margin-top: 16px;
				margin-left: 11px;
			}

			span {
				@extend %text-info-text-style;
				color: black;
			}
		}

		@media screen and (max-width: $medium) {
			min-height: 279px;
		}
	}

	.right-block {
		.integrations {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			min-height: 279.35px;
			margin-top: 36px;
			margin-left: 40px;

			@media screen and (max-width: $medium) {
				min-height: 160px;
				margin-top: 28px;
				margin-left: 16px;
			}

			.integrations__item {
				display: flex;
				align-items: center;

				.integrations__image {
					margin-right: 21.15px;

					@media screen and (max-width: $medium) {
						width: 40px;
						height: 40px;
						margin-right: 11px;
					}
				}

				.integrations__text {
					@extend %text-info-text-style;
					color: black;
				}
			}
		}

		@media screen and (max-width: $medium) {
			min-height: 256px;
		}
	}

}