$selected-case-color: #F3F9FF;
$case-border: 1px solid rgba(56, 152, 254, 0.187528);
$slider-big: 1100px;
$dot-color: #B2EEFC;

$show-slider: 1099px;

.cases {
	width: 1099px;
	height: 434.85px;
	margin: 0 auto;
	margin-top: 160px;

	@media screen and (max-width: $big) {
		width: 100%;
		margin-top: 110px;
	}

	@media screen and (max-width: $medium) {
		margin-top: 135px;
	}

	.cases__header {
		padding-bottom: 85.86px;

		@extend %h0-text-style;
		color: $text-color;

		@media screen and (max-width: $big) {
			padding-bottom: 70px;
			text-align: center;
		}

		@media screen and (max-width: $medium) {
			padding-bottom: 40px;
			font-size: 32px;
			line-height: 38px;
		}
	}

	.cases_big {
		width: 100%;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		@media screen and (min-width: $show-slider) and (max-width: $big){
			width: 976px;
		}

		@media screen and (max-width: $show-slider) {
			display: none;
		}
	}

	.cases__swiper_medium {
		display: none;

		@media screen and (max-width: $show-slider) {
			display: block;
		}

		// #case1 {
		// 	margin-left: 64px;

		// 	@media screen and (max-width: $medium) {
		// 		margin-left: 16px;
		// 	}
		// }

		.cases__pagination_medium {
			margin: 0 auto;
			width: max-content;
			margin-top: 29px;
			display: flex;
			align-items: center;

			@media screen and (max-width: $medium) {
				margin-top: 18px;
			}

			span {
				width: 12px;
				height: 12px;
				margin-right: 13.9px;

				@media screen and (max-width: $medium) {
					width: 8px;
					height: 8px;
				}
			}

			.swiper-pagination-bullet-active {
				background: $reverse-gradient;
				width: 16px;
				height: 16px;
				border: 0;
	
				@media screen and (max-width: $medium) {
					width: 10px;
					height: 10px;
				}
			}
		}
	}

	.case-item {
		@media screen and (max-width: $big) {
			margin-left: 21px;
		}

		@media screen and (max-width: $medium) {
			margin-left: 16px;
		}
	}

	.case {
		width: 346px;
		height: 297px;
		border: $case-border;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@media screen and (max-width: $big) {
			width: 310px;
		}

		@media screen and (max-width: $medium) {
			width: 222px;
			height: 213px;
			margin-left: 16px;
			margin-right: 16px;
		}
		
		.images {
			display: flex;
			align-items: center;
			margin-top: 30px;
			margin-left: 24px;

			@media screen and (max-width: $medium) {
				margin-top: 20px;
				margin-left: 16px;
			}

			.images__image {
				padding-right: 12px;

				@media screen and (max-width: $medium) {
					max-width: 34.92px;
					max-height: 25px;
					padding-right: 9px;
				}
			}
		}

		.text {
			margin-left: 24px;
			margin-bottom: 20px;

			@media screen and (max-width: $medium) {
				margin-left: 16px;
			}

			.text__header {
				padding-bottom: 19px;
				@extend %h3-text-style;
				color: $text-color;

				@media screen and (max-width: $big) {
					padding-bottom: 18.85px;
				}

				@media screen and (max-width: $medium) {
					padding-bottom: 16px;
					font-size: 18px;
					line-height: 24px;
				}
			}

			.text__link {
				display: inline;

				font-family: $font;
				font-style: normal;
				font-weight: 600;
				font-size: 16px;
				line-height: 22px;
				letter-spacing: 0.369231px;

				text-decoration: none;
				background: $gradient;
				background-clip: text;
				color: transparent;

				img {
					margin-left: 5px;
					margin-bottom: -2px;
				}

				&:visited, &:hover, &:focus{
					background: $gradient;
					background-clip: text;
					color: transparent;
				}
			}
		}
	}

	.case_selected {
		background: $selected-case-color;
		border: 0;
		position: relative;

		&:after {
			position: absolute;
			top: 100%; bottom: -3px;
			left: 0; right: 0;
			background: $gradient;
			content: '';
			z-index: 2;
		}
	}

	.react-multi-carousel-dot-list {
		position: relative;
		bottom: -29px;

		@media screen and (max-width: $medium) {
			bottom: -18px;
		}

		.react-multi-carousel-dot {
			display: flex;
			align-items: center;

			button {
				margin-right: 13.9px;
				border: 1px solid $dot-color;
				background: transparent;
	
				@media screen and (max-width: $medium) {
					width: 8px;
					height: 8px;
				}
			}
		}

		.react-multi-carousel-dot--active {
			button {
				background: $reverse-gradient;
				width: 16px;
				height: 16px;
				border: 0;
	
				@media screen and (max-width: $medium) {
					width: 10px;
					height: 10px;
				}
			}
		}
	}	
}