
.email-input {
	width: 440px;
	box-sizing: border-box;
	.email-form {
		width: 100%;

		.email-form__label {
			box-sizing: border-box;

			.email-form__input {
				width: 303px;
				height: 48px;
				border-top-left-radius: 44px;
				border-bottom-left-radius: 44px;
				border: 0;
				background: $bg-color;
				box-sizing: border-box;

				@extend %email-input-text-style;
				padding-left: 20px;
				padding-right: 26px;

				color: $text-color;
				&:focus {
					outline: none; 
					color: $text-color;
				}
				&::placeholder {
					color: $input-text-placeholder-color;
				}
			}
		}

		.btn {
			margin-left: -28px;
		}	
	}

	.email-form_success {
		width: 100%;
		height: 48px;
		background: $bg-color;
		border-radius: 44px;
		display: none;

		div {
			display: flex;
			height: 48px;
			align-items: center;
			justify-content: center;

			.email-form__success-img {
				width: 16px;
				height: 16px;
				margin-right: 16px;
			}

			span {
				font-family: $font;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 24px;
				letter-spacing: 0.96px;
				color: $text-color;
			}
		}
	}
}

