.for-who {
	width: 1098px;
	min-height: 493px;
	margin: 0 auto;
	margin-top: 160px;

	@media screen and (max-width: $big) {
		width: 639px;
		min-height: 415px;
		margin-top: 110px;
	}

	@media screen and (max-width: $medium) {
		width: 200px;
		min-height: 977px;
	}

	.for-who__header {
		@extend %h0-text-style;
		color: $text-color;

		@media screen and (max-width: $big) {
			text-align: center;
		}
	
		@media screen and (max-width: $medium) {
			font-size: 32px;
			line-height: 38px;
		}
	}

	.items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-row-gap: 30px;
		width: 1098px;
		min-height: 357px;
		margin-top: 90px;

		@media screen and (max-width: $big) {
			width: 639px;
			min-height: 299px;
			margin-top: 70px;
		}

		@media screen and (max-width: $medium) {
			grid-template-columns: repeat(1, 1fr);
			width: 200px;
			height: max-content;
			min-height: 899px;
			margin-top: 40px;
		}

		.item {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			width: 346px;
			height: 328px;

			@media screen and (max-width: $big) {
				width: 199px;
				height: 299px;
			}
	
			@media screen and (max-width: $medium) {
				width: 200px;
				height: fit-content;
				min-height: 287px;
			}

			.item__img {
				@media screen and (max-width: $big) {
					max-height: 135px;
				}
			}

			.info {
				height: 127px;

				@media screen and (max-width: $big) {
					height: 134px;
				}
		
				@media screen and (max-width: $medium) {
					height: fit-content;
					min-height: 122px;
				}

				.info__header {
					margin-bottom: 13px;
					@extend %h3-text-style;
					color: $text-color;

					@media screen and (max-width: $big) {
						margin-bottom: 24px;
					}

					@media screen and (max-width: $medium) {
						margin-bottom: 12px;
						text-align: center;
					}
				}
	
				.info__text {
					max-width: 240px;
					@extend %text-info-text-style;
					color: $text-color;

					@media screen and (max-width: $big) {
						font-size: 16px;
						line-height: 20px;
					}

					@media screen and (max-width: $medium) {
						text-align: center;
					}
				}
			}
		}
	}
}