.how-it-works {
	width: 1094px;
	min-height: 373px;
	margin: 0 auto;
	margin-top: 151px;

	@media screen and (max-width: $big) {
		width: 640px;
		min-height: 283.19px;
		margin-top: 110px;
	}

	@media screen and (max-width: $medium) {
		width: 278px;
		min-height: 650px;
		margin-top: 92px;
	}

	h2 {
		@extend %h0-text-style;
		color: $text-color;

		@media screen and (max-width: $big) {
			text-align: center;
		}

		@media screen and (max-width: $medium) {
			font-size: 32px;
			line-height: 38px;
		}
	}

	.how-it-works__info {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-row-gap: 30px;
		width: 1094px;
		min-height: 237px;
		margin-top: 90px;

		@media screen and (max-width: $big) {
			width: 640px;
			min-height: 167.19px;
			margin-top: 70px;
		}

		@media screen and (max-width: $medium) {
			grid-template-columns: repeat(1, 1fr);
			grid-row-gap: 40px;
			width: 200px;
			height: fit-content;
			min-height: 534px;
			margin: 0 auto;
			margin-top: 40px;
		}

		.how-it-works__data {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;

			p {
				@extend %text-info-text-style;
				color: $text-color;
				text-align: center;

				@media screen and (max-width: $big) {
					font-size: 16px;
					line-height: 24px;
				}

				@media screen and (max-width: $medium) {
					width: max-content;
				}
			}

			img {
				@media screen and (max-width: $big) {
					max-width: 168.12px;
					max-height: 98.5px;
				}
			}
		}
	}
}