.safety {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	width: 1035.04px;
	min-height: 360px;
	margin: 0 auto;
	margin-top: 160px;

	@media screen and (max-width: $big) {
		width: 640px;
		min-height: 295.49px;
		margin-top: 110px;
	}

	@media screen and (max-width: $medium) {
		flex-direction: column-reverse;
		width: 278px;
		min-height: 551px;
		margin-top: 127px;
	}

	.safety__info {
		@media screen and (max-width: $big) {
			width: 100%;
		}

		.safety__header {
			position: relative;
			width: max-content;
			margin-bottom: 28px;
			@extend %h0-text-style;
			color: $text-color;

			@media screen and (max-width: $big) {
				width: 100%;
				margin-bottom: 70px;
				text-align: center;
			}
	
			@media screen and (max-width: $medium) {
				margin-bottom: 40px;
				font-size: 32px;
				line-height: 38px;
			}
		}

		.safety__text {
			width: 534px;
			min-height: 204px;
	
			@extend %text-lead-text-style;
			color: $text-color;
	
			@media screen and (max-width: $big) {
				width: 420px;
				min-height: 168px;
				margin-left: auto;
				font-size: 18px;
				line-height: 28px;
				letter-spacing: .443077px;
			}
	
			@media screen and (max-width: $medium) {
				position: inherit;
				width: 278px;
				height: 252px;
				margin-top: 40px;
			}
		}
	}

	.safety__image {
		@media screen and (max-width: $big) {
			position: relative;
		}

		@media screen and (max-width: $medium) {
			margin: 0 auto;
		}

		img {
			margin-top: -35.5px;

			@media screen and (max-width: $big) {
				position: absolute;
				top: 120px;
				width: 200px;
				height: 180.87px;
				margin-top: 0;
			}

			@media screen and (max-width: $medium) {
				position: inherit;
				top: 0;
				margin-bottom: 40px;
			}
		}
	}
}