
.carousel__item {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 91px;

	@media screen and (max-width: $big) {
		flex-direction: column;
		margin-top: 109px;
	}

	@media screen and (max-width: $medium) {
		width: 278px;
		margin-top: 57px;
	}
	
	.carousel__info {
		width: min-content;
		min-width: 470px;

		@media screen and (max-width: $medium) {
			width: 278px;
			min-width: unset;
		}

		.carousel__title {
			width: 100%;
			margin-bottom: 10px;

			@extend %h0-text-style;
			color: $text-color;
			text-align: left;
			

			@media screen and (max-width: $big) {
				margin-bottom: 24px;
				font-size: 48px;
				line-height: 54px;
				text-align: center;
			}

			@media screen and (max-width: $medium) {
				width: 278px;
				margin: 0 auto;
				margin-bottom: 12px;
				font-size: 32px;
				line-height: 38px;
				text-align: center;
			}
		}

		.carousel__text {
			@extend %text-info-text-style;
			color: $text-color;
			text-align: left;

			@media screen and (max-width: $big) {
				text-align: center;
			}
		}

		.email-form {
			margin-top: 48px;

			@media screen and (max-width: $medium) {
				display: none;
			}
		}
	}

	.carousel__image {
		@media screen and (max-width: $big) {
			margin-top: 109px;
		}

		@media screen and (max-width: $medium) {
			width: 70%;
			margin-top: 30px;
		}
	}
}

#carousel__item-1 {
	width: fit-content;
	min-width: 1024.17px;
	
}

#carousel__item-2 {
	width: fit-content;
	min-width: 1038.68px;
}

#carousel__item-3 {
	width: fit-content;
	min-width: 1234px;

	.carousel__image {
		border-radius: 10px;
		box-shadow: 0px 10px 24px rgba(0, 0, 0, .06), 0px 0px 6px rgba(0, 0, 0, .04), 0px 0px 1px rgba(0, 0, 0, .04);
	}
}

#carousel__item-4 {
	align-items: normal;
	width: fit-content;
	min-width: 991.17px;

	@media screen and (max-width: $big) {
		align-items: center;
	}
	
	.carousel__info {
		width: 515px;
		margin-top: 106px;

		@media screen and (max-width: $big) {
			margin-top: 0;
		}

		@media screen and (max-width: $medium) {
			width: 278px;
			margin-top: 0;
		}
	}
}

#carousel__item-1,
#carousel__item-2,
#carousel__item-3,
#carousel__item-4 {
	@media screen and (max-width: $big) {
		width: 100%;
		min-width: unset;
	}
}