$hr-gradient: linear-gradient(-90deg, #00B8F0 0%, #00B8F0 0.01%, #B2EEFC 73.96%);

.soon {
	width: 1098px;
	height: 870.58px;
	margin: 0 auto;
	margin-top: 131px;

	@media screen and (max-width: $big) {
		width: 640px;
		height: 1082.58px;
		margin-top: 110px;
	}

	@media screen and (max-width: $medium) {
		width: 278px;
		height: 1002px;
		margin-top: 96.85px;
	}

	.soon__header {
		@extend %h0-text-style;
		color: $text-color;

		@media screen and (max-width: $big) {
			text-align: center;
		}

		@media screen and (max-width: $medium) {
			font-size: 32px;
			line-height: 38px;
		}
	}

	.items {
		width: 1098px;
		margin-top: 87.08px;

		@media screen and (max-width: $big) {
			width: 100%;
			margin-top: 70px;
		}

		@media screen and (max-width: $medium) {
			margin-top: 40px;
		}

		.items__hr {
			margin-top: 50px;
			margin-bottom: 50px;
			background: $gradient;
			opacity: 0.2;

			@media screen and (max-width: $big) {
				margin-top: 32px;
				margin-bottom: 32px;
			}

			@media screen and (max-width: $medium) {
				margin-top: 30px;
				margin-bottom: 30px;
			}
		}

		.item {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			@media screen and (max-width: $big) {
				flex-direction: column;
				align-items: center;
			}

			@media screen and (max-width: $medium) {
				align-items: flex-start;
			}

			.left {
				.left__header {
					max-width: 439px;
					font-family: $font;
					font-style: normal;
					font-weight: 500;
					font-size: 28px;
					line-height: 36px;
					letter-spacing: 0.44px;
					color: $text-color;

					@media screen and (max-width: $big) {
						text-align: center;
						margin: 0 auto;
						padding-bottom: 22px;
					}

					@media screen and (max-width: $medium) {
						font-size: 18px;
						line-height: 24px;
						text-align: left;
						margin: 0;
						padding-left: 34px;
						padding-bottom: 16px;
					}
				}
			}

			.right {
				width: 496.54px;
				display: flex;
				flex-direction: row;
				justify-content: space-between;

				@media screen and (max-width: $big) {
					width: 420px;
				}

				@media screen and (max-width: $medium) {
					width: 100%;
				}

				.right__hr {
					width: 43px;
					height: 3px;
					margin-top: 10.46px;
					background: $hr-gradient;
					border: 0;

					@media screen and (max-width: $medium) {
						width: 21px;
					}
				}

				.info {
					width: 438.54px;

					@media screen and (max-width: $big) {
						width: 362px;
					}

					@media screen and (max-width: $medium) {
						width: 245px;
					}

					.info__text {
						@extend %text-info-text-style;
						color: $text-color;

						@media screen and (max-width: $medium) {
							font-size: 16px;
							line-height: 24px;
						}
					}

					.images {
						display: flex;
						flex-direction: row;
						align-items: center;
						margin-top: 18.22px;

						@media screen and (max-width: $medium) {
							margin-top: 16px;
						}

						.images__image {
							margin-right: 19.28px;
						}
					}
				}
			}
		}
	}

	h3 {
		@extend %h3-text-style;
		color: $text-color;
		text-align: center;
		padding-top: 8px;

		@media screen and (max-width: $big) {
			padding-top: 0;
		}
	}
}