.tariffs {
	width: 1072px;
	min-height: 473px;
	margin: 0 auto;
	margin-top: 116px;
	display: flex;
	justify-content: space-between;

	@media screen and (max-width: $big) {
		width: 640px;
		min-height: 430px;
		margin-top: 110px;
	}

	@media screen and (max-width: $medium) {
		flex-direction: column-reverse;
		width: 278px;
		min-height: 687.15px;
		margin-top: -40px;
	}

	.tariffs__info {
		width: 564px;
		margin-top: 44px;

		@media screen and (max-width: $big) {
			width: 100%;
		}

		.tariffs__header {
			margin-bottom: 28px;
			@extend %h0-text-style;
			color: $text-color;

			@media screen and (max-width: $big) {
				text-align: center;
				margin-bottom: 70px;
			}

			@media screen and (max-width: $medium) {
				font-size: 32px;
				line-height: 38px;
				margin-bottom: 40px;
			}
		}

		.tariffs__text {
			width: 100%;
	
			@extend %text-lead-text-style;
			color: $text-color;
	
			@media screen and (max-width: $big) {
				width: 383px;
				min-height: 224px;
				font-size: 18px;
				line-height: 28px;
			}
			
			@media screen and (max-width: $medium) {
				width: 278px;
				min-height: 280px;
			}
		}

		.email-input {
			margin-top: 40px;

			@media screen and (max-width: $big) {
				margin: 0 auto;
				margin-top: 42px;
			}
	
			@media screen and (max-width: $medium) {
				width: 278px;
			}
	
			.email-form {
				.email-form__label {
					.email-form__input {
						@media screen and (max-width: $medium) {
							width: 195px;
						}
					}
				}
	
				.btn {
					@media screen and (max-width: $medium) {
						width: 108px;
						margin-left: -29px;
					}
				}
			}
		}
	}

	.tariffs__image {
		@media screen and (max-width: $big) {
			position: relative;
		}

		@media screen and (max-width: $medium) {
			margin: 0 auto;
		}

		img {
			@media screen and (max-width: $big) {
				width: 257px;
				height: 264px;
				position: absolute;
				top: 139px;
				right: 0;
			}

			@media screen and (max-width: $medium) {
				position: inherit;
				width: 189.83px;
				height: 195px;
				top: 0;
			}
		}
	}
}